#chats {
  display: grid;
  grid-template-rows: 1fr 5fr 0.5fr;
  padding: 15px 10px;
  margin-top: 20px;
  .chatsHeader {
    .info {
      @include flexing;
      font-size: $font-md-lg;
      margin-bottom: 20px;
      p {
        font-weight: 600;
        span {
          color: $primary-color;
        }
      }
      span {
        font-size: $font-md;
        cursor: pointer;
        color: $light-grey;
      }
    }
    .images {
      @include flexing;
      border-radius: 50%;

      // margin-bottom: 20px;
    }
  }
  .groupChat {
    p {
      font-size: $font-md-lg;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .allChats {
      scrollbar-width: thin;
      height: 65vh;
      overflow-y: scroll;
    }
  }
  .inputs {
    display: flex;
    width: 100%;
    align-self: end;
    margin-bottom: 20px;
    input {
      padding: 10px;
      border: none;
      border-radius: 8px;
      background-color: $primary-light;
      color: $light-grey;
      font-weight: 500;
      outline: none;
      width: 80%;
      margin-right: 5px;
    }
    img {
      cursor: pointer;
      width: 24px;
      margin-right: 5px;
    }
  }
}
