#main {
  padding: 15px 45px;
  border-right: 2px solid $primary-light;
  scrollbar-width: thin;
  height: 100vh;
  overflow: auto;
  .mainHeader {
    @include flexing;
    align-items: flex-start;
    margin-bottom: 20px;
    img {
      width: 30px;
    }
    .left {
      div {
        display: flex;
        align-items: center;
        margin: 20px 0px;
        img {
          margin-right: 15px;
        }
      }
      p {
        color: $light-grey;
        font-size: $font-md;
        line-height: 25px;
        .highlight {
          background-color: $primary-light;
          color: $primary-color;
          padding: 0 6px;
          border-radius: 2px;
        }
      }
    }
    .right {
      margin: 20px 0px;
      display: flex;
      img {
        margin-right: 15px;
        height: 35px;
        width: 35px;
        border-radius: 50%;
      }
      div {
        position: relative;
        .count {
          position: absolute;
          padding: auto;
          text-align: center;
          width: 20px;
          height: 20px;
          right: 12px;
          top: -5px;
          font-size: $font-sm;
          color: white;
          background-color: $red;
          border-radius: 50%;
          border: 2px solid #fff;
        }
      }
    }
  }

  .maincards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
