@import './variables/variables';

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: $font-family;
  color: $font-color;


}

body{
  background-color: #FAFAFA;
  height: 100vh;
}