@import './variables/variables';

#sidebar {
  padding: 15px;
  background-color: $primary-light;
  height: 100vh;
  position: relative;
}

#logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: small;
  background-color: white;
  padding: 12px 6px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  #logoimg {
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 5px;
    width: 25px;
  }
  h5 {
    margin-right: 12px;
  }
}

.menu {
  margin-bottom: 30px;
  div {
    display: flex;
    color: $light-grey;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;

    margin-left: 10px;
    p {
      font-weight: 600;
      font-size: 14px;
      color: $light-grey;
    }

    img {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }
}

.categories {
  div {
    padding: 3px 5px;

    display: flex;
    align-items: center;
    margin-bottom: 8px;
    p {
      font-weight: 600;
      font-size: 12px;
    }
    img {
      margin: 5px;
      margin-left: 10px;
      width: 10px;
      height: 10px;
    }
    .emoji {
      width: 15px;
      height: 15px;
      margin-left: 10px;
    }
    &:hover {
      background-color: white;
      border-radius: 6px;
      cursor: pointer;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
  }
}

#newProject {
  position: absolute;
  bottom: 50px;
  margin-left: 10px;
  button {
    display: flex;
    align-items: center;
    outline: 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    height: 40px;
    background-color: $primary-color;
    padding: 10px 15px;

    p {
      color: white;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
